{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    {{ blog.title }}
{% endblock %}
{% block ref %}
    <link rel="stylesheet" href="{% static "little.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                    <h1>{{ blog.title }}</h1>
                    <ul class="blog-info-description">
                        <li>作者：{{ blog.author }}</li>
                        <li>分类：<a href="{% url 'type_blog' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
                        <li>发表日期:{{ blog.create_time|date:"Y-m-d H:i:s" }}</li>
                        <li>阅读({{ blog.get_read_num}})</li>
                    </ul>
                        <p>{{ blog.content|safe }}</p>
                    <div class="pre_next">
                        {% if pre_blog %}
                            <p>上一篇：<a href="{% url 'blog_detail' pre_blog.pk %}">{{ pre_blog.title }}</a></p>
                        {% endif %}
                        {% if next_blog %}
                            <p>下一篇：<a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a></p>
                        {% endif %}
                    </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="comment-area">
                <h4 class="comment-area-title">提交评论</h4>
                    {% if user.is_authenticated %}
                        <form action="{% url 'update_comment' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="comment-text">欢迎{{ user.username }}来评论~~</label>
                                <textarea id="comment-text" class="form-control" name="text" rows="5"></textarea>
                            </div>
                            <input type="hidden" name="object_id" value="{{ blog.pk }}">
                            <input type="hidden" name="content_type" value="blog">
                            <input type="submit" class="btn btn-default" value="提交" style="float: right">
                        </form>
                    {% else %}登录方可评论，请登录<br>
                        <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        用户名:<input type="text" name="username">
                        密码:<input type="password" name="password">
                        <input type="submit" value="login">
                        </form>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h4 class="comment-area-title">提交列表</h4>
                    {% for comment in comments %}
                        <div>
                            {{ comment.user }}
                            ({{ comment.comment_time|date:"Y-m-d H:i:s" }}):
                            {{ comment.text }}
                        </div>
                    {% empty %}
                    暂无评论
                    {% endfor %}

                </div>
                <div>
                    评论排行：
                    {% for comment in comment_num %}
                        {{ comment.title }}({{ comment.nums }})
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
