{% extends 'base.html' %}

{% block title %}
    欢迎您
{% endblock %}

{% block ref %}
    <style type="text/css">
    h3{
        font-size: 222%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    </style>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block content %}
{#    <div class="jumbotron" align="center">#}
{#          <h1>Hello, world!</h1>#}
{#          <p>欢迎你们的莅临我的博客</p>#}
{#          <p><a class="btn btn-primary btn-lg" href="{% url 'blog_list' %}" role="button">进入</a></p>#}
{#  </div>#}
    <!-- 图表容器 DOM -->
    <div id="container" ></div>
    <!--今天热门博客-->
    今天热门博客
    <ul>
    {% for hot in todayhot %}
        <li><a href="{% url 'blog_detail' hot.content_object.pk  %}">{{ hot.content_object.title|truncatechars:20 }}</a>({{ hot.read_num }})</li>
    {% empty %}
        暂无
    {% endfor %}
    </ul>
        昨天热门博客
    <ul>
    {% for hot in yesterdayhot %}
        <li><a href="{% url 'blog_detail' hot.content_object.pk  %}">{{ hot.content_object.title|truncatechars:20 }}</a>({{ hot.read_num }})</li>
    {% empty %}
        暂无
    {% endfor %}
    </ul>
    7天热门博客
    <ul>
    {% for sdhot in sevenhot %}
        <li><a href="{% url 'blog_detail' sdhot.id  %}">
            {{ sdhot.title|truncatechars:20 }}</a>({{ sdhot.readnum_sum }})</li>
    {% empty %}
        暂无
    {% endfor %}
    </ul>
    30天热门博客
    <ul>
    {% for sdhot in thirtyhot %}
        <li><a href="{% url 'blog_detail' sdhot.id  %}">
            {{ sdhot.title|truncatechars:20 }}</a>({{ sdhot.readnum_sum }})</li>
    {% empty %}
        暂无
    {% endfor %}
    </ul>
    <script>
        // 图表配置
        var options = {
            chart: {
                type: 'line'                          //指定图表的类型，默认是折线图（line）
            },
            title: {
                text: null           // 标题
            },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement:"on",
                title:{text:"前7天阅读量"},
            },
            yAxis: {
                title: {
                    text: null                // y 轴标题
                },
                labels:{enabled:false},
                gridLineDashStyle:'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ readnums }}                     // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend:{enabled:false},
            credits:{enabled:false},
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock %}

